*{
    margin:0px;
    padding:0px;
    box-sizing: content-box;
}
body{
    width:100vw;
    height:100vh;
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size:400% 400%;
    animation:bg 3s ease infinite;
    display:flex;;
    justify-content: center;
    align-items: center;
}
.card{
    width:650px;
    height:300px;
    background-color:white;
    box-shadow:rgba(0,0,0,0.25)0px 14px 28px,rgba(0,0,0,0.22)0px 10px 10px;
    border-radius:5px;
    font-size:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes bg{
    0%{
        background-position: 0%;
    }
    50%{
        background-position:100%;
    }
    100%{
        background-position: 0%;
    }
}